<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexen.rest.mapper.SysLocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rexen.rest.model.entity.SysLocation">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="location_name" property="locationName" />
        <result column="building" property="building" />
        <result column="storey" property="storey" />
        <result column="person_in_charge" property="personInCharge" />
        <result column="area_scope" property="areaScope" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="extension" property="extension" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, location_name, building, storey, person_in_charge, area_scope, enable, create_time, update_time, extension
    </sql>

    
    <select id="selectSysLocationListByPage" parameterType="com.rexen.rest.common.page.RestPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        sys_location
        <where>
                        <if test="parameter.deptId != null and parameter.deptId != ''"> and dept_id = #{parameter.deptId}</if>
                        <if test="parameter.locationName != null and parameter.locationName != ''"> and location_name like concat('%', #{parameter.locationName}, '%')</if>
                        <if test="parameter.building != null and parameter.building != ''"> and building = #{parameter.building}</if>
                        <if test="parameter.storey != null and parameter.storey != ''"> and storey = #{parameter.storey}</if>
                        <if test="parameter.personInCharge != null and parameter.personInCharge != ''"> and person_in_charge = #{parameter.personInCharge}</if>
                        <if test="parameter.areaScope != null and parameter.areaScope != ''"> and area_scope = #{parameter.areaScope}</if>
                        <if test="parameter.enable != null"> and enable = #{parameter.enable}</if>
                        <if test="parameter.extension != null and parameter.extension != ''"> and extension like concat('%', #{parameter.extension}, '%')</if>
        </where>
    </select>
    <select id="selectSysLocationList"  resultType="com.rexen.rest.model.entity.SysLocation">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_location
        WHERE
        1=1
        and enable = 1
        <if test="deptId != null" >
            and dept_id in
            <foreach collection="deptId" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
